body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: rgb(105, 103, 103);
}
input:-ms-input-placeholder {
  color: rgb(105, 103, 103);
}
textarea::-webkit-input-placeholder {
  color: rgb(105, 103, 103);
}
textarea:-ms-input-placeholder {
  color: rgb(105, 103, 103);
}

.clear {
  clear: both;
}

.pageWrapper {
  /* background: linear-gradient(21.8deg, #015896, #AEF3FF); */
  height: 100vh;
  display: flex;
  /* min-height: 100%; */
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .pageWrapper {
    /* background: linear-gradient(55deg, #015896, #AEF3FF); */
    height: 100vh;
    /* min-height: 100vh; */

    display: flex;
    /* position: relative; */
    clear: both;
  }
}

.pageHeaderLandingPage {
  font-size: 35px;
  font-weight: 400;
  color: black;

  /* padding-top: 15px; */
  text-align: center;
  letter-spacing: 1px;

}

.pageHeaderUnderBarLandingPage {
  height: 0;
  margin: auto;
  padding-top: 10px;
  width: 70px;
  border-bottom: 1px solid black;
}

.pageWrapper {
  /* background: linear-gradient(21.8deg, #015896, #AEF3FF); */
  background-color: white;
  /* height: 100vh; */
}

@media screen and (max-width: 767px) {
  .pageWrapper {
    /* background: linear-gradient(55deg, #1884d1, #AEF3FF); */
    background-color: white;
    /* height: 100vh; */

    position: relative;
    clear: both;

  }

}

.pageHeader {
  font-size: 35px;
  font-weight: 400;
  color: black;

  padding-top: 15px;
  text-align: center;
  letter-spacing: 1px;

  text-decoration: none;
}

.pageHeaderUnderBar {
  height: 0;
  margin: auto;
  padding-top: 10px;
  width: 70px;
  border-bottom: 1px solid black;
}

.footerUnderBar {
  height: 0;
  margin: auto;
  padding-top: 5px;
  width: 100%;
  border-bottom: 1px solid #bebdbd;
}

.landingPageGreeting {
  flex: 1;
  text-align: center;
  color: black;
  font-size: 25px;
  font-weight: lighter;
  line-height: 35px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.txtBold {
  font-weight: normal;
  color: black;
  cursor: pointer;
}

.crossBold {
  font-weight: normal;
  font-size: 100px;
  height: 70px;
}

.landingPageBtnWrapper {
  flex: 2;
  animation: fadeInFromBottom 1.0s ease-in-out;

  height: 180px;
  width: 200px;
  text-align: center;
  margin: auto;
  /* padding-bottom: 126px; */
}

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 3;
    transform: none;
  }
}

.landingPageBtn {
  margin-top: 20px;
  height: 60px;
  width: 200px;
  background-color: transparent;

  border: 0.5px solid black;
  color: black;
  border-radius: 5px 5px 5px 5px;
  font-size: 20px;
  font-weight: normal;
}

.landingPageBtn:hover {
  color: black;
  background-color: rgb(231, 230, 230);
  opacity: 0.85;
  font-weight: 600;
  transition: all 0.6s ease-out;
}


.landingPageFooterTitle {
  /* float: left; */
  font-size: 20px;
  font-weight: bold;
}

.landingPageFooterDescription {
  display: block;
  font-size: 12px;
  white-space: pre-line;
  padding-left: 10px;
  padding-right: 10px;
}

.headWrapper {
  margin: 0 auto;
  top: 0;
  text-align: center;
  width: 100%;
  height: 64px;
  color: black;
}


.headWrapperDefault {
  /* position: fixed; */
  /* position: absolute; */
  text-align: center;
  /* z-index: 50;
  z-index: 1; */
  width: 100%;
  height: 64px;
  color: white;

  transition: all 0.2s ease-in-out;
  text-decoration: none;

  left: 0;
  top: 0;
  /* transition: background-color .2s ease; */
}

.headWrapperScrollDown {
  position: fixed;
  text-align: center;
  z-index: 50;
  z-index: 1;
  /* color: white ; */
  transition: all 0.3s ease-in-out;
  text-decoration: none;

  width: 100%;
  height: 64px;
  top: 0;
  /* border-bottom: 1px solid #aaaaaa; */
  opacity: 0;
}

.headText {
  margin: 20px;
  font-weight: 80;
  font-size: 50px;
  letter-spacing: 3px;
}

.bodyWrapper {
  /* padding-top: 85px; */
  padding-top: 15px;
  position: relative;
  /* display: inline-block; */
  /* clear: both; */
}

.inputPageTitle {
  height: 60px;
  width: 360px;

  margin: 0 auto;
  position: relative;
  /* padding-top: 95px; */
  padding-top: 15px;

  animation: fadeInFromBottom 1.0s ease-in-out;

  text-align: center;
  color: black;
  font-size: 35px;
  font-weight: 300;
}

.inputFormWrapper {
  flex: 1;
  box-sizing: border-box;
  text-align: center;
  padding-top: 15px;
  /* width: 100%; */
  height: 100%;
  /* height: 350px; */
}

.inputForm {
  display: inline-block;
  align-items: center;
  justify-content: center;

  padding: 0 20spx;
  
  width: 90%;
  height: 355px;
  /* border: 1px solid #1c1c1f; */
}

.inputName {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  height: 40px;
  margin-bottom: 5px;
  border: 0.5px solid black;
  background-color: transparent;
  font-size: large;
}

.inputList {
  display: inline-block;
  white-space: pre-line;
  vertical-align: middle;
  width: 95%;
  height: 250px;
  border: 0.5px solid black;
  background-color: transparent;
  font-size: large;
  line-height: 30px;
}

.inputContent {
  display: inline-block;
  vertical-align: middle;
  width: 95%;
  height: 250px;
  border: 0.5px solid black;
  background-color: transparent;
  font-size: large;
  line-height: 30px;
}

.prayerListContentBtn {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: 10px;
}

/* button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: bold;

  color: white;

  cursor: pointer;

  transition: 0.3s;

  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
} */



.deleteBtn {
  float: left;

  margin: 0 auto;
  background-color: #ff180b;
  border: 0.5px solid #ff180b;
  /* margin-left: 1px; */
  color: white;
  font-weight: 400;
  font-size: medium;

  transition: all 0.3s ease-in-out;
  width: 184px;
  height: 35px;
  border-radius: 5px 5px 5px 5px;
}
.deleteBtn:hover {
  background-color: #f04e46;
  box-shadow: 0px 0px 1.5px 0.5px #f04e46;
  border: 0.5px solid #f04e46;
}

.editBtn {
  float: left;

  margin: 0 auto;
  background-color: #45d2e2;
  border: 0.5px solid #45d2e2;
  /* margin-right: 1px; */
  color: white;
  font-weight: 400;
  font-size: medium;

  transition: all 0.3s ease-in-out;
  width: 184px;
  height: 35px;

  border-radius: 5px 5px 5px 5px;
}
.editBtn:hover {
  background-color: #80e0e9;
  box-shadow: 0px 0px 1.5px 0.5px #80e0e9;
  border: 0.5px solid #80e0e9;
}

.submitBtn {
  margin-top: 10px;
  font-size: large;
  color: #fff;
  background-color: black;
  border: 0.5px solid black;
  margin-left: 1px;
  transition: all 0.6s ease-out;

  width: 95%;
  height: 35px;
}
.submitBtn:hover {
  background-color: #aaaaaa;
  box-shadow: 0px 0px 1.5px 0.5px #f1f1f1;
  border: 0.5px solid #aaaaaa;
}

.editCompleteBtn {
  background-color: #4834d4;
  border: 0.5px solid #4834d4;
}
.editCompleteBtn:hover {
  background-color: #686de0;
  box-shadow: 0px 0px 3px 1px #686de0;
}

.writeNewBtn {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  box-sizing: border-box;
  background-color: #3aa8fc;
  border: 0.5px solid #3aa8fc;

  width: 130px;
  height: 50px;

  font-size: large;
}
.writeNewBtn:hover {
  background-color: #188cff;
  box-shadow: 0px 0px 3px 1px #188cff;
  border: 0.5px solid #188cff;
}

.dateCollectionBtn {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
  /* position: fixed;
  bottom: 10; */
  /* vertical-align: middle; */
  background-color: black;
  border: 0.5px solid black;

  width: 90%;
  padding: 0 20px;
  height: 50px;

  border-radius: 5px 5px 5px 5px;

  transition: all 0.3s ease-in-out;
  opacity: 95%;
  color: #fff;
  font-size: large;
}
.dateCollectionBtn:hover {
  background-color: #aaaaaa;
  box-shadow: 0px 0px 1.5px 0.5px #f1f1f1;
  border: 0.5px solid #aaaaaa;
  color: white;
}

.btn_group1 {
  display: flex;
  align-items: center; 
  justify-content: center;

  height: 60px;
}

.prayerListContentBtnImg {
  background-color: white;
  width: 100%;
}

.pagination {
  /* flex: 2; */
  margin: 40px 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.paginationItemSelect {
  min-width: 26px;
  color: black;
  text-decoration: none;
  font-weight: bolder;
  cursor: pointer;
}

.paginationItemNonSelect {
  min-width: 26px;
  color: black;
  text-decoration: none;
  font-weight: smaller;
  cursor: pointer;
}

.footerWrapper {
  background-color: #F1F1F1;
  /* position: absolute; */
  /* clear:both; */
  text-align: left;
  color: black;
  width: 100%;
  padding: 10px 0;
  height: 120px;
  bottom: 0;
}

.footerContactWrapper {
  padding: 0 20px;
  margin: 0 auto;
}

.footerContactDescription {
  color: black;
  font-size: 15px;
  letter-spacing: 0em;
  line-height: 1.6;
  /* font-family: 'Do Hyeon'; */
  font-style: normal;
  font-weight: 400;
  margin: 0 auto;
  width: 95%;
}

.footerContactDescriptionEmail {
  font-size: 18px;
  color: black;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 95%;
}

.img {
  height: 32px;
  width: 32px;
}

.copyright {
  margin-top: 10px;
  text-align: center;
  font-family: 'Do Hyeon';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0em;
  color: #fff;
  display: inline-block;
}

.footerCopyrightFlash {
  margin-top: 10px;
  text-align: center;
  /* font-family: 'Do Hyeon'; */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0em;
  color: black;
  font-weight: bolder;
  display: inline-block;
}

.footerCopyrightWrapper {
  text-align: center;
  color: black;
  font-size: 12px;
  /* padding-top: 30px; */
  margin: 0 auto;
  width: 95%;
}

.flashLogo {
  text-align: center;
  padding-top: 5px;
}

.reportsBody {
  /* flex: 1; */
  box-sizing: border-box;
  max-width: 1300px;

  padding: 0 20px;
  letter-spacing: -.4px;

  margin-bottom: 10px;
  margin-top: 10px;

  /* height: 100%; */
}


.prayerListContent {
  width: 100%;
  animation: fadeInFromBottom 1.0s ease-in-out;
}

.prayerListContentText {
  padding-top: 19px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #eeeef0;
  background-color: #f8f8f8;
}

.prayerListContentTextName {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  margin-bottom: 16px;
  /* width: 354px; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* white-space: nowrap; */
  overflow: hidden;

  font-size: 25px;
  font-weight: 600;
  color: black;
}

.prayerListContentSimpleDate {
  width: 70px;
  height: 20px;
  float: right;
  font-size: 15px;
  color: rgb(80, 79, 79);

}

.prayerListContentBtn {
  width: 20px;
  height: 20px;
  object-fit: cover;
  /* margin-left: 10px; */
  cursor: pointer;
  /* float: right; */
  margin: 0 auto;
}

.prayerListContentBtnImg {
  background-color: transparent;
  width: 100%;
}

.prayerListContentPreview {
  font-size: 18px;
  letter-spacing: -.32px;
  font-weight: 350;
  color: black;

  padding: 5px;

  /* width: 360px; */
  width: 95%;
  height: 25px;
  line-height: 28px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;

}

.prayerListContentDescription {
  white-space: pre-line;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 350;
  width: 100%;
  padding: 5px;
  color: black;
  line-height: 28px;

  transition: all 0.3s ease-in-out;

  /* border-top: 0.5px dotted #D8D8D8; */
}

.prayerListContentDltEdtBtn {
  margin: 0 auto;
  width: 368px;
  height: 40px;
}

.dateInputForm {
  display: block;
  text-align: center;

  height: 100px;
  width: 100%;

  padding-top: 85px;

}

.dateInputFormHeader {

  height: 10px;
}

.dateInputFormBody {
  height: 60px;
}

.dateInputFormTail {

  height: 10px;
}

.startDateInput {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
}

.endDateInput {
  display: inline-block;
  vertical-align: middle;
  height: 15px;
}

.dateCollectionNull {
  padding-top: 85px;

  height: 50px;
  color: black;
  font-size: large;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: #5a5a5a;
  color: white;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;

  border-radius: 5px 5px 5px 5px;
}

.dropdown-content {
  display: none;
  background-color: white;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease-in-out;
}

.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown-content div:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
  transition: all 0.3s ease-in-out;
}

.dropdown:hover .dropbtn {
  background-color: #a7a7a7;
}